.checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.checkbox-field input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 8px;
}

.checkbox-label {
  font-size: 13px;
  cursor: pointer;
}
.Exp_form_cancel_btn{
    margin-right: 8px;
    background: none;
    border: none;
    color: #1976d2;
}
.Exp_form_add_btn{
    color: #1976d2;
    background: #f2f6fe;
    border: none;
}
.btn_div{
    display: flex;
    justify-content: flex-end;
}